#uebersichtHeader{
    text-align: center;
}

.uebersicht table, th, td{
  height: 3vw;
  border-bottom: 0.5px solid rgb(245, 195, 195);
  font-weight: lighter;
  text-align: left;
}

table{
  width: 98vw;
  margin-left: 1vw;
  margin-right: 1vw;
  margin-bottom: 3vw;
}

th{
    border-bottom: 2px solid rgb(245, 195, 195);
    width: 98vw;
}

.uebersicht table{
  background: rgba(240, 208, 212, 0.05);
  background-size: 100%;
  border-collapse: collapse;
}

.radioSpalte{
  text-align: center; /* center checkbox horizontally */
  vertical-align: middle;
}


.uebersicht input{
    align-items: center;
}

#uebersicht.actions{
    align-items: center;
}

.buttonsUebersicht{
  text-align: center; /* center checkbox horizontally */
}


.headerIndividuell{
  text-align: center;
  margin-top: 0vw;
}

h1{
  font-weight: lighter;
}

hr{
  border:  0.1px solid #eeeeee;
}

#hinButton{
  width: 6vw;
  height: 3vw;
  background-color: white;
  background-image: url(../buttonHintergrund.png);
  background-size: 105%;
  font-size: 1vw;
  border: none;
}
