
#uebersichtHeader{
text-align: center;

}

.uebersicht table, th, td{

  height: 3vw;
  border-bottom: 0.5px solid rgb(245, 195, 195);
  font-weight: lighter;
  text-align: left;

}
td{
  width: 14vw;
}
.uebersicht th{
  font-weight: bold;
}
.uebersicht table{
  background: rgba(240, 208, 212, 0.05);
  background-size: 100%;
  border-collapse: collapse;
}
.radioSpalte{

  text-align: center; /* center checkbox horizontally */
  vertical-align: middle;
}



.uebersicht input{
  align-items: center;
}
#uebersicht.actions{
align-items: center;


}

.buttonsUebersicht{
  text-align: center; /* center checkbox horizontally */
}


.headerIndividuell{
  text-align: center;
  margin-top: 0vw;
}

h1{
  font-weight: lighter;
  /*font-size: 2vw;*/
}

hr{
  border:  0.1px solid #eeeeee;
}
