.hoseKlasse, .shirtKlasse, .bluseKlasse,.kleidKlasse, .pulloverKlasse, .jackeKlasse {
  background-size: 2.5vw;
  background-repeat: no-repeat;
  background-position: left;
  text-align: left;
  padding-left: 4vw;

}

.hoseKlasse{
  background-image: url(/images/chinos-pants.png);
}
.shirtKlasse{
  background-image: url(/images/tshirt.png);
}
.bluseKlasse{
  background-image: url(/images/women-blouse.png);
}
.kleidKlasse{
  background-image: url(/images/dress.png);
}
.pulloverKlasse{
  background-image: url(/images/sweater.png);
}
.jackeKlasse{
  background-image: url(/images/raincoat.png);
}


#uebersichtHeader{
    text-align: center;
}

.uebersicht table, th, td{
  height: 3vw;
  border-bottom: 0.5px solid rgb(245, 195, 195);
  font-weight: lighter;
  text-align: left;
}


th{
    border-bottom: 2px solid rgb(245, 195, 195);
}
th:hover{
  color: rgb(245, 195, 195);
}

#nameTH, #markeTH, #materialTH, #kategorieTH, #farbeTH{
background-image: url(/images/sort-up.png);
background-size: 0.7vw;
background-repeat: no-repeat;
background-position: 85% 50%;
}

#nameTH:active, #markeTH:active, #materialTH:active, #kategorieTH:active, #farbeTH:active{
background-size: 0.8vw;
}

.uebersicht table{
  background: rgba(240, 208, 212, 0.1);
  background-size: 100%;
  border-collapse: collapse;
  width: 95vw;
  margin-left: 1.5vw;
  margin-right: 3.5vw;
  margin-bottom: 3vw;
}
.uebersicht td:hover{
  color: rgb(245, 195, 195);
}
.uebersicht td:active{
  color: rgb(245, 171, 171);
}

.radioSpalte{
  text-align: center; /* center checkbox horizontally */
  vertical-align: middle;
}

#uebersicht.actions{
align-items: center;
}

#uebersicht.actions{
    align-items: center;
}

.buttonsUebersicht{
  text-align: center; /* center checkbox horizontally */
}

.loeschenHover:hover{
  font-weight: bold;
}

#suchleiste {
    text-align: center;
    margin-bottom: 2vw;
}

#suchAspekt{
  background-image: url(/images/sort-down.png);
  background-size: 0.4vw;
  background-repeat: no-repeat;
  background-position: 85% 50%;
  font-size: 1vw;
  padding-right: 1vw;
    font-weight: lighter;
}
#suchAspekt:hover{
background-size: 0.7vw;
font-weight: bolder;
}

#suchBegriff{
  font-weight: lighter;
  border-style: none;
}
#suchBegriff:valid{
  border-bottom: 1px solid  rgb(245, 195, 195);
}




@media screen and (max-width: 450px) {
  #suchBegriff{
    font-size: 2.5vw;
    border-bottom: 1px solid #000442;
  }
  #suchAspekt{
    font-size: 2.5vw;
  }

}
@media screen and (max-width: 770px) {


}
@media screen and (min-width:  771px) {
  #suchBegriff{
    font-size: 1vw;
    border-bottom: 1px solid #000442
  }

}
