dt{
    color: rgb(0, 4, 66);
    font-weight: bolder;
    float: left;
    margin-bottom: 0.75em;
    padding-right: 2.5em;
    width: 5em;
}

dd{
    margin-bottom: 0.75em;
}
  
.meta-data-box{
    color: rgb(0, 4, 66);
    background-color:rgba(240, 208, 212, 0.05);
    border: solid 1px;
    border-color: rgba(240, 208, 212);
    height: 10em;
    width: 30%;
    margin:  3em 4em 3em 7em;
    padding: 2.5em;
    padding-top: 4em;
    display: inline-block;
}
    
.additional-info-box{
    color: rgb(0, 4, 66);
    background-color:rgba(240, 208, 212, 0.05);
    border: solid 1px;
    border-color: rgba(240, 208, 212);
    height: 10em;
    width: 30%;
    margin:   3em 7em 3em 4em;
    padding: 2.5em;
    padding-top: 4em;
    display: inline-block;
}
    
.fits-box{
    color: rgb(0, 4, 66);
    background-color: rgba(240, 208, 212, 0.05);
    padding: 2.5em;
    width: 75%;
    border: solid 1px;
    border-color: rgba(240, 208, 212);
    height: 10em;
    margin:  3em 3em 3em 7em;
}

.buttons{
    padding-left: 45%;
    padding-right: 30%;
}
  
.bearbButton{
    margin-bottom: 2em;
}
  
.loeschButton{
    margin-bottom: 2em;
}
  
.bearbButton :hover {
    cursor: pointer;
}
  
.loeschButton :hover {
    cursor: pointer;
}
