


dd{
color: rgb(0, 4, 66);
margin-top: 1vw;
}

dt{
color: rgb(0, 4, 66);
font-weight: bolder;
float: left;
width: 8em;
margin-top: 1vw;
}

.meta-data-box{
    color: rgb(0, 4, 66);
    background-color:rgba(250, 230, 227, 0.3);
    height: 10em;
    float: left;
    width:28vw;

}

#box1{
  margin-left: 15vw;
  margin-right: 4vw;
  padding: 1vw;

  box-shadow:  0px 0px 40px 40px rgba(250, 230, 227, 0.5);
}
#box2{
  margin-left: 4vw;
  margin-right: 15vw;
  box-shadow:  0px 0px 40px 40px rgba(250, 230, 227, 0.5);
  padding: 1vw;
}

.profilBoxen{
  display: inline-block;
}


.buttons{
  text-align: center;
  margin-top: 3vw;
}

#iconHose, #iconShirt,#iconJacke,#iconKleid,#iconPullover, #iconBluse{
  width: 5vw;
  margin-bottom: 5vw;
}

.hideIcon{
  display: none;
}
@media screen and (max-width: 450px) {
  #iconHose, #iconShirt,#iconJacke,#iconKleid,#iconPullover, #iconBluse{
    width: 10vw;

  }


  dd{
    margin-top: 2vw;
    }

    dt{
    margin-top: 2vw;
    }


  #box1, #box2{
    margin-left: 15vw;
    margin-right: 15vw;
    padding: 5vw
  }

  #loeschButton, #bearbButton{
    width: 6vw;
    height: 3vw;
    margin: 2em;
  }
}

@media screen and (max-width: 1000px) {

  dd{
    margin-top: 2vw;
    }

    dt{
    margin-top: 2vw;
    }


  #box1, #box2{
    margin-left: 25vw;
    margin-right: 25vw;
    padding: 5vw;
    margin-bottom: 10vw;
    height: 20vw;
    width: 40vw;
  }
  #box1{
    margin-top: 10vw;
  }

  #loeschButton, #bearbButton{
    width: 6vw;
    height: 3vw;
    margin: 2em;
  }
}

@media screen and (min-width: 771px) {
  dt{
    margin-left: 2vw;
    }
}
