.headerIndividuell{
  text-align: center;
  margin-top: 0vw;
}

h1{
  font-weight: lighter;
  font-size: 2vw;
}

hr{
  border:  0.1px solid #eeeeee;
}

table{
  border-collapse: collapse;
}


#bereich{
    background-color: lightgrey;
    border: 3px black solid;
    width: 50vw;
    height: 25vw;
    margin-left: 25vw;
}


.inputEingabe{
    border-style: none;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

#inputPasstZu{
    background-color: lightgrey;
    border-style: none;
}
/*
#Dirndl{
    width: 10vw;
    height: 10vw;
}


#außenrum td{
    padding: 15vw;
}*/

#table2{
    border-style: none;
    width: 55vw;
    margin-left: 25vw;
    margin-top: 5vw;
    margin-bottom: 2vw;

}

#table2 td{
    border-style: none;

}

#table2 tr{
    height: 3vw;
}
