


 #YourCloset_Header{
   width: 42vw;
   margin-left: 29vw;

}
.headerIndividuell{
  text-align: center;
  margin-top: 0vw;
}

h1{
  font-weight: lighter;
  font-size: 2vw;
}

hr{
  border:  0.1px solid #eeeeee;
}

table{
  border-collapse: collapse;
}


#bereich{
    background-color: lightgrey;
    border: 3px black solid;
    width: 500px;
    height: 200px;
    margin-left: 20px;
}

#input1{
    border-style: none;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

#input2{
    background-color: lightgrey;
    border-style: none;

}

#Dirndl{
    width: 80px;
    height: 80px;
}

#außenrum td{
    padding: 20px;
}

#table2{
    border-style: none;
}

#table2 td{
    border-style: none;
    padding: 5px;
}

#table2 tr{
    height: 30px;
}
