.headerIndividuell{
  text-align: center;
  margin-top: 0vw;
}

h1{
  font-weight: lighter;

}




.inputEingabe{
    border-style: none;
    border-bottom: 1px solid #030310;
    background-color: rgba(0,0,0,0);
    font-size: 100%;
    color: inherit;
    font-weight: lighter;

}


select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
}

#table2{
    border-style: none;
    width: 55vw;
    margin-left: 25vw;
    margin-top: 5vw;
    margin-bottom: 4vw;

}

#table2 td{
    border-style: none;
}

#table2 tr{
    height: 3vw;
}

#speicherHinzufuegen{
    margin-left: 25vw;
    margin-top: 3vw;
    margin-bottom: 3vw;
}

@media screen and (max-width: 400px) {
    #table2{
        width: 100vw;
        margin-left: 0vw;
        margin-top: 5vw;
        margin-bottom: 2vw;
        /*font-size: 2vw;*/
    }

    .hinzufuegen #bereich{
        margin-left: 0vw;
        width: 100vw;
    }

    .inputEingabe{
        width: 25vw;
    }

    #speicherHinzufuegen{
        margin-left: 0vw;
    }

    #speicherHinzuButtonDIV{
        text-align: center;
    }
}

@media screen and (max-width: 770px) {
    #table2{
        width: 80vw;
        margin-left: 10vw;
        margin-top: 5vw;
        margin-bottom: 2vw;
        /*font-size: 2vw;*/
    }

    #table2 tr{
        height: 5vw;
    }

    .hinzufuegen #bereich{
        margin-left: 10vw;
        width: 80vw;
    }

    .inputEingabe{
        width: 25vw;
    }

    #speicherHinzufuegen{
        margin-left: 0vw;
    }

    #speicherHinzuButtonDIV{
        text-align: center;
    }
}

#speicherHinzufuegen{
    width: 6vw;
    height: 3vw;
    background-color: white;
    background-image: url(../buttonHintergrund.png);
    background-size: 105%;
    font-size: 1vw;
    border: none;

}
@media screen and (min-width: 771px) {
    #table2{
        width: 80vw;
        margin-left: 15vw;
        margin-top: 5vw;
        margin-bottom: 2vw;
        /*font-size: 2vw;*/
    }

    #table2 tr{
        height: 5vw;
    }


    .inputEingabe{
        width: 20vw;
    }

    #speicherHinzufuegen{
        margin-left: 3vw;
    }

    #speicherHinzuButtonDIV{
        text-align: center;
    }
}
