
html{
  animation: fadein 0.9s  both;
  font-family: sans-serif;
  font-weight: lighter;
  color: #030310;

}
footer{
position:fixed;
 bottom: 0;
 background-color: rgba(240, 190, 182, 0.5);
 width: 100vw;
 height: 3vw;
 margin-left: -0.5vw;
}

@keyframes fadein{

  from{opacity:0;}to{opacity:1;}}@-moz-keyframes fadein{from{opacity:0;}to{opacity:1;}}@-webkit-keyframes fadein{from{opacity:0;}to{opacity:1;}}@-o-keyframes fadein{from{opacity:0;}to{opacity:1;}}


  @media screen and (max-width: 450px) {
    html{
      background-image: url(background_mobil.png);
      background-size: 100%;
      font-size: 2.5vw;
    }


  #YourCloset_Header{
    width: 50vw;
    margin-left: 25vw;
  }
  .mobilAusblenden{
    display: none;
  }
}
@media screen and (max-width: 770px) {
    html{
    background-image: url(background_mobil.png);
    background-size: 100%;
    }
#YourCloset_Header{
  width: 50vw;
  margin-left: 25vw;
  }
}

  @media screen and (min-width:  771px) {
      html{
        background-image: url(background.png);
        background-size: 100%;
      }
      #YourCloset_Header{
        width: 30vw;
        margin-left: 35vw;

      }
}
  .hidden{
    display: none;
  }
