/*
 * Dieses Stylesheet enthält nur allgemeine Anweisungen, die sich auf die
 * gesamte App auswirken. Hier dürfen keine Änderungen vorgenommen werden,
 * die sich nur auf bestimmte Bereiche der Anwendung auswirken sollen.
 *
 * Damit @import funktioniert, muss die Anweisung vor allen anderen
 * CSS-Anweisungen stehen. Dieses Stylesheet muss daher auch vor allen
 * anderen importiert werden.
 */

html{
  font-family: sans-serif;
  font-weight: lighter;
  color: #030310;
}
@media screen and (min-width: 768px) {
    body,
    input {
        font-size: 12pt;
    }
}

@media screen and (min-width: 992px) {
    body,
    input {
        font-size: 13pt;
    }
}

@media screen and (min-width: 1200px) {
    body,
    input {
        font-size: 14pt;
    }
}
