

html{
  font-family: sans-serif;
  font-weight: lighter;
  color: #030310;
}
@media screen and (max-width: 400px) {
    main
     {
        font-size: 3vw;
        
    }
}

@media screen and (max-width: 770px) {
    body,
    input {
        /*font-size: 40pt;*/
    }
}

@media screen and (min-width:  771px) {
    body,
    input {
        /*font-size: 14pt;*/
    }
}

.hidden{
  display: none;
}
