

html{
  font-family: sans-serif;
  font-weight: lighter;
  color: #030310;
}
@media screen and (min-width: 768px) {
    body,
    input {
        font-size: 12pt;
    }
}

@media screen and (min-width: 992px) {
    body,
    input {
        font-size: 40pt;
    }
}

@media screen and (min-width: 1200px) {
    body,
    input {
        font-size: 14pt;
    }
}

.hidden{
  display: none;
}
