
#uebersichtHeader{
text-align: center;

}

#uebersicht table{
width: 90VW;
margin: 5vw;
align-items: center;
}


#uebersicht th{
  font-size: 1.5vw;
  font-weight: lighter;

}
#uebersicht td{
  font-size: 1vw;
  height: 1.5vw;

}

#uebersicht.radioSpalte{
  text-align: center;
}


#uebersicht input{
  align-items: center;
}
#uebersicht.actions{
align-items: center;


}

#hinButton{
margin-left: 35vw;
font-size: 1vw;
color: #030310;

}

#bearbButton{
  font-size: 1vw;
  color: #030310;


}
#loeschButton{
  margin-right: 10vw;
  font-size: 1vw;
  color: #030310;

}


 #YourCloset_Header{
   width: 42vw;
   margin-left: 29vw;

}
.headerIndividuell{
  text-align: center;
  margin-top: 0vw;
}

h1{
  font-weight: lighter;
  font-size: 2vw;
}

h2{
  font-weight: lighter;
  font-size: 2vw;
}

hr{
  border:  0.1px solid #eeeeee;
}

table{
  border-collapse: collapse;
}



#profilHeader{
  text-align: center;
  }

  .meta-data-box{
    border: solid 1px;
    height: 10em;
    width: 15em;
    margin: 3em 3em 3em 3em;
    padding: 1em;
    float: left;
  }

  .additional-info-box{
    border: solid 1px;
    height: 10em;
    width: 15em;
    margin:  3em 3em 3em 3em;
    padding: 1em;
    float: right;
  }

  .fits-box{
    border: solid 1px;
    height: 10em;
    margin:  3em;
    padding: 1em;
  }
